<center>
	<input type="file" id="file-json" accept="application/json" onchange="cambio()" />
<!-- 	<label for="file" class="btn-3"><span>Selecciona o arrastra un archivo JSON</span></label> -->
</center>

<div id="spinner" class=""><label>Procesando</label></div>

<script type="text/javascript">
	var documento;
	function cambio(){
		$("#file-json").attr("disabled",true)
		$('#spinner').addClass('hm-spinner');
		console.log("cambio")
		documento = document.getElementById('file-json').files[0]; 
		console.log(documento)
		$.ajax({
	        type:"POST", 
	        url:"<%= url_for fedex_consult_path %>" , 
	        data: documento,
	        contentType: false,
			processData: false,
	        success:function(result){
	        	if(result["code"] == 200 || result["code"] == "200"){
	        		console.log(result)
	        		console.log("Archivos consultados")
	        		setReport();
	        	}else{
	        		console.log("No seleccionaste el archvio correcto")
	        	}
	        	$('#spinner').removeClass('hm-spinner');   
	        },
	        error:function(error){
	        	console.log("no ok")
	        	alert("Error de conexion, Please retry later")
	        	$('#spinner').removeClass('hm-spinner');   
	        }
       	});
	}

	function setReport(){
		window.open("/reporte", '_blank');
	}

</script>



<style type="text/css">
.hm-spinner{
	  height: 160px;
	  width: 160px;
	  border: 8px solid transparent;
	  border-top-color: #9C27B0;
	  border-bottom-color: #9C27B0;
	  border-radius: 50%;
	  position: fixed;
	  -webkit-animation: spin 3s linear infinite;
	          animation: spin 3s linear infinite;
	  top:45%;
	  left:45%;
	  z-index: 999;
	}

	.hm-spinner::before{
	  content: "";
	  position: absolute;
	  top: 20px;
	  right: 20px;
	  bottom: 20px;
	  left: 20px;
	  border: 6px solid transparent;
	  border-top-color: #BA68C8;
	  border-bottom-color: #BA68C8;
	  border-radius: 50%;
	  -webkit-animation: spin 1.5s linear infinite;
	  animation: spin 1.5s linear infinite;
	}

	@-webkit-keyframes spin {
	    from {
	      -webkit-transform: rotate(0deg);
	      transform: rotate(0deg);
	    }
	    to {
	      -webkit-transform: rotate(360deg);
	      transform: rotate(360deg);
	    }
	}

	@keyframes spin {
	    from {
	      -webkit-transform: rotate(0deg);
	      transform: rotate(0deg);
	    }
	    to {
	      -webkit-transform: rotate(360deg);
	      transform: rotate(360deg);
	    }
	}
</style>