<center>
	<input type="file" id="file-json" accept="application/json" onchange="cambio()" />
<!-- 	<label for="file" class="btn-3"><span>Selecciona o arrastra un archivo JSON</span></label> -->
</center>



<style type="text/css">

</style>

<script type="text/javascript">
	var documento;
	function cambio(){
		console.log("cambio")
		documento = document.getElementById('file-json').files[0]; 
		console.log(documento)
		$.ajax({
	        type:"POST", 
	        url:"<%= url_for fedex_consult_path %>" , 
	        data: documento,
	        contentType: false,
			processData: false,
	        success:function(result){
	        	if(result != 400){
	        		console.log(result)
	        		console.log("Archivos consultados")
	        	}else{
	        		console.log("No seleccionaste el archvio correcto")
	        	}   
	        },
	        error:function(error){
	        	console.log("no ok")
	        }
       	});
	}

</script>