
<center>
	<div id="btn-file">
		<p id="title">Seleccionar archivo</p>
		<input type="file" id="file-json" accept="application/json" onchange="cambio()" />
		<!-- <img src="logo.png"/> -->
		<%= link_to image_tag("logo_upload.png", :class => "imagen-load")%>
	</div>
<!-- 	<label for="file" class="btn-3"><span>Selecciona o arrastra un archivo JSON</span></label> -->
</center>

<div class="md-stepper-horizontal orange">
    <div class="md-step active">
      <div id="paso1" class="md-step-circle"><span>1</span></div>
      <div class="md-step-title">Verificar archivo</div>
       <div id="textpaso1" class="md-step-optional" hidden="true">Archivo Correcto</div>
    </div>
    <div class="md-step active">
      <div id="paso2" class="md-step-circle"><span>2</span></div>
      <div class="md-step-title">Consultar datos</div>
      <div id="textpaso2" class="md-step-optional" hidden="true">Datos consultados correctamente de Fedex</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step active">
      <div id="paso3" class="md-step-circle"><span>3</span></div>
      <div class="md-step-title">Generar Reporte</div>
      <div id="textpaso3" class="md-step-optional" hidden="true">Reporte generado con Exito.</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
</div>

<!-- <div id="spinner" class=""></div> -->
<div id="spinner" class=""></div>
<script type="text/javascript">
	var documento;

	function cambio(){
		$("#file-json").attr("disabled",true)
		$('#spinner').addClass('hm-spinner');
		$("#paso1").css('background-color', '#636563');
		$("#paso2").css('background-color', '#636563');
		$("#paso3").css('background-color', '#636563');
		$("#textpaso1").attr("hidden",true);
		$("#textpaso2").attr("hidden",true);
		$("#textpaso3").attr("hidden",true);
		console.log("cambio")
		documento = document.getElementById('file-json').files[0]; 
		console.log(documento)
		$.ajax({
	        type:"POST", 
	        url:"<%= url_for validar_json_path %>" , 
	        data: documento,
	        contentType: false,
			processData: false,
	        success:function(result){
	        	if(result == 200){
	        		console.log(result)
	        		console.log("Archivos consultados")
	        		$("#paso1").css('background-color', '#03fa03');
	        		$("#textpaso1").attr("hidden",false);
	        		requestFedex();
	        	}else if(result == 400){
	        		alert("El archivo no pudo ser procesado por alguna de las siguientes razones: \n 1. El archivo no cumple con las estructura correcta \n 2. El archivo contiene datos/informacion desconocida \n 3. El archivo esta corrupto o dañado")
			        	$('#spinner').removeClass('hm-spinner');
			        	$("#file-json").attr("disabled",false)   
	        	}else{
	        		alert("Error al intentar subir el archivo")
		        	$('#spinner').removeClass('hm-spinner');
		        	$("#file-json").attr("disabled",false)   
	        	}
	        },
	        error:function(error){
	        	console.log("no ok")
	        	alert("Error de conexion, Please retry later")
	        	$("#file-json").attr("disabled",false)  
	        	$('#spinner').removeClass('hm-spinner');   
	        }
       	});
	}

	function requestFedex(){
		console.log("cambio")
		documento = document.getElementById('file-json').files[0]; 
		console.log(documento)
		$.ajax({
	        type:"POST", 
	        url:"<%= url_for fedex_consult_path %>" , 
	        data: {},
	        success:function(result){
	        	$("#paso2").css('background-color', '#03fa03');
	        	$("#textpaso2").attr("hidden",false);
        		setReport();
	        	$('#spinner').removeClass('hm-spinner');
	        	$("#file-json").attr("disabled",false)     
	        },
	        error:function(error){
	        	console.log("no ok")
	        	alert("Error de conexion, Please retry later")
	        	$('#spinner').removeClass('hm-spinner');
	        	$("#file-json").attr("disabled",false)     
	        }
       	});
	}

	function setReport(){
		$("#paso3").css('background-color', '#03fa03');
		$("#textpaso3").attr("hidden",false);
		window.open("/reporte", '_blank');
	}

</script>
